@font-face {
    font-family: "FiraSans";
    src: url(fonts/FiraSansCondensed-Black.ttf);
}

body {
    background-image: url(movie.jpg);
    font-family: "FiraSans";
    margin: 0;
}
#head_container{
    font-family: "FiraSans";
    background-color: rgb(187, 17, 187);
    text-align: center;
    padding: 1vw;
    color: white
}

#form_container {
    border: 2px black solid;
    border-radius: 2em;
    height: 25em;
    width: 20em;
    margin: auto;
    padding-top: 2em;
    background: linear-gradient(180deg, rgb(216, 15, 216), rgb(64, 64, 245));
    text-align: center;
}

#submit {
    border: 0;
    border-radius: 1em;
    font-family: "FiraSans";
    height: 3em;
    width: 20em;
    background-color: rgb(187, 17, 187);
    font-size: 15px;
}

#foot_container {
        font-family: "FiraSans";
        background-color: rgb(187, 17, 187);
        text-align: center;
        padding: 1vw;
        color: white;
}

#weatherCard{
    border: 2px solid;
    width: 300px;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(180deg, rgb(63, 162, 255),rgb(255, 174, 0));
    margin: auto;
    border-radius: 10px;
    display: none;
}

#loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load{
    visibility: hidden;
    margin: auto;
    text-align: center;
}

#movie_container{
    border: 2px black solid;
    border-radius: 2em;
    height: 40em;
    width: 20em;
    margin: auto;
    padding-top: 2em;
    text-align: center;
    background-color: #3498db;
}

#main_container{
    display: inline-flex;
    width: 100%;
    margin: auto;
}


#return {
    border: 0;
    border-radius: 1em;
    font-family: "FiraSans";
    height: 3em;
    width: 15em;
    background-color: rgb(187, 17, 187);
    font-size: 15px;
}

#metrics_container{
    height: 25em;
    width: 20em;
    margin: auto;
    text-align: center;
}

#metrics{
    border: 0;
    border-radius: 1em;
    font-family: "FiraSans";
    height: 3em;
    width: 15em;
    background-color: rgb(187, 17, 187);
    font-size: 15px;
}