<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemMood</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header id="head_container">
        <h1>CinemMood</h1>
        <h3>An AI model that recommends a movie based on your current location's time and weather</h3>
        <h5><a href="https://www.freepik.com/free-photo/movie-background-collage_33752472.htm#query=movie%20background&position=4&from_view=keyword&track=ais_hybrid&uuid=271ab0bd-115f-4891-ad54-7b1e851fbb84">Image by freepik</a></h5>
    </header>
    <br>
    <br>
    <form id="getWeather" action="/recommend" method="POST">
        <div id="form_container">
            <h2>Enter your current location:</h2>
            <br>
            <label for="">City: </label>
            <input type="text" id="cityBox" name="cityBox" required>
            <br>
            <br>
            <label id="stateBox" name="stateBox">State (optional): </label>
            <input type="text" >
            <br>
            <br>
            <label for="">Country: </label>
            <input type="text" id="countryBox" name="countryBox"required>
            <br>
            <br>
            <br>
            <br>
            <button id="submit">Get Movie Recommendation!</button>
            <br>
            <br>
            <h3 class="load">CinemMood is choosing a movie</h3>
            <br>
            <div id="loader" class="load"></div>
        </div>
    </form>
    <br>
    <br>
    <div id="metrics_container">
        <form action="/metrics" method="POST">
            <button id="metrics">View Model Metrics</button>
        </form>
    </div>
    <script src="static\js\weather.js"></script>
    <script src="static\js\loading.js"></script>
</body>
</html>